{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Rounds index"}
    </h2>
    <p>
        <a href="rounds/register">{_"Reserve match on round"}</a>
    </p>
    <p>
        <a href="rounds/overview">{_"Rounds overview"}</a>
    </p>
</div>
{/block}

