{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Reserve match on round"}
    </h2>
    {$form_reserve->renderAll()|noescape}
</div>
{/block}

