{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Rounds index"}
    </h2>
    <p>
        <a href="planner/new">{_"Create new round"}</a>
    </p>
    <p>
        <a href="planner/display">{_"View planned"}</a>
    </p>
</div>
{/block}

