.btn[data-count]:after{
    position:absolute;
    top:10%;
    content: attr(data-count);
    font-size:60%;
    padding:.5em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(100,200,200,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}
a, button{
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
}
.jodit_wysiwyg{
    color: black;
}
.card{
    margin: 1rem;
    padding: 2rem;
}
p{
    overflow-wrap: anywhere;
}
[data-toggle=tooltip]::after {
    width: fit-content!important;
}